PythonAPI/validation/XML/login_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ArrayOfKeyValueOfstringstring" type="arr:ArrayOfKeyValueOfstringstringType" xmlns:arr="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
    <xs:complexType name="KeyValueOfstringstringType">
        <xs:sequence>
            <xs:element name="Key">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="username"/>
                        <xs:enumeration value="password"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Value">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfKeyValueOfstringstringType">
        <xs:sequence>
            <xs:element type="arr:KeyValueOfstringstringType" name="KeyValueOfstringstring" maxOccurs="unbounded" minOccurs="0" xmlns:arr="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>