PythonAPI/validation/XML/XSDSchemav3.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="account_identification"/>
                <xs:element name="available_balance">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="amount">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:float" name="amount"/>
                                        <xs:element type="xs:string" name="currency"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:date" name="date"/>
                            <xs:element type="xs:string" name="status"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="final_closing_balance">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="amount">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:float" name="amount"/>
                                        <xs:element type="xs:string" name="currency"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:date" name="date"/>
                            <xs:element type="xs:string" name="status"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="final_opening_balance">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="amount">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:float" name="amount"/>
                                        <xs:element type="xs:string" name="currency"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:date" name="date"/>
                            <xs:element type="xs:string" name="status"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="forward_available_balance">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="amount">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:float" name="amount"/>
                                        <xs:element type="xs:string" name="currency"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:date" name="date"/>
                            <xs:element type="xs:string" name="status"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="sequence_number"/>
                <xs:element type="xs:byte" name="statement_number"/>
                <xs:element type="xs:string" name="transaction_reference"/>
                <xs:element name="transactions" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="amount">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:float" name="amount"/>
                                        <xs:element type="xs:string" name="currency"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:short" name="bank_reference"/>
                            <xs:element type="xs:string" name="currency"/>
                            <xs:element type="xs:string" name="customer_reference"/>
                            <xs:element type="xs:date" name="date"/>
                            <xs:element type="xs:date" name="entry_date"/>
                            <xs:element type="xs:string" name="extra_details"/>
                            <xs:element type="xs:string" name="funds_code"/>
                            <xs:element type="xs:date" name="guessed_entry_date"/>
                            <xs:element type="xs:string" name="id"/>
                            <xs:element type="xs:string" name="status"/>
                            <xs:element type="xs:string" name="transaction_details"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>